In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'sale-median-list-price.csv'
df = pd.read_csv(path)
df

,RegionID,SizeRank,RegionName,RegionType,StateName,2017-12-31,2018-01-31,2018-02-28,2018-03-31,2018-04-30,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
0,102001,0,United States,country,NaN,257933.0,256300.0,258267.0,263267.0,271267.0,...,339000.0,334667.0,332967.0,337967.0,349967.0,365000.0,380000.0,391333.0,397667.0,396667.0
1,394913,1,"New York, NY",msa,NY,489300.0,489300.0,494333.0,503000.0,513000.0,...,587667.0,588333.0,591667.0,596333.0,608000.0,620000.0,633300.0,637967.0,634633.0,626666.0
2,753899,2,"Los Angeles, CA",msa,CA,703332.0,702998.0,711333.0,721333.0,735000.0,...,853000.0,854667.0,864167.0,880767.0,904100.0,924900.0,941633.0,949967.0,948333.0,940000.0
3,394463,3,"Chicago, IL",msa,IL,274933.0,271600.0,276267.0,284600.0,294600.0,...,296300.0,289666.0,285000.0,288167.0,298133.0,309800.0,318300.0,323333.0,324967.0,322967.0
4,394514,4,"Dallas, TX",msa,TX,316333.0,317333.0,320667.0,322997.0,328497.0,...,376086.0,377420.0,379086.0,384000.0,391000.0,404333.0,418300.0,431633.0,437967.0,434667.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891,753929,923,"Zapata, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,113483.0,121817.0,123833.0,129167.0,134167.0,135500.0,138000.0,140667.0,146500.0,152333.0
892,394743,924,"Ketchikan, AK",msa,AK,286500.0,284500.0,282833.0,284500.0,286733.0,...,402667.0,389000.0,398500.0,432167.0,470833.0,469667.0,428667.0,417000.0,430667.0,478333.0
893,753874,925,"Craig, CO",msa,CO,194967.0,193467.0,192800.0,192833.0,194983.0,...,279100.0,281633.0,286300.0,294633.0,302883.0,302883.0,311567.0,326617.0,361100.0,359083.0
894,394767,926,"Lamesa, TX",msa,TX,104467.0,104500.0,97000.0,96800.0,103467.0,...,133667.0,136833.0,139667.0,147000.0,153000.0,158000.0,171333.0,183833.0,191983.0,188983.0
895,395188,927,"Vernon, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,120450.0,133950.0,130617.0,135967.0,153300.0,164833.0

In [3]:
path2 = 'sale-median-sale-price.csv'
df = pd.read_csv(path2)
df

,RegionID,SizeRank,RegionName,RegionType,StateName,2018-08-31,2018-09-30,2018-10-31,2018-11-30,2018-12-31,...,2021-10-31,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31
0,102001,0,United States,country,NaN,234938.0,234364.0,234496.0,236015.0,236405.0,...,322666.0,326150.0,327825.0,328741.0,332083.0,339061.0,348583.0,355630.0,358012.0,353925.0
1,394913,1,"New York, NY",msa,NY,405728.0,412242.0,410429.0,412516.0,405684.0,...,518292.0,521230.0,521002.0,522290.0,524993.0,530136.0,539317.0,547306.0,555416.0,563098.0
2,753899,2,"Los Angeles, CA",msa,CA,630993.0,627601.0,629128.0,629960.0,628599.0,...,822126.0,829498.0,840554.0,847700.0,859113.0,873041.0,894969.0,908705.0,908743.0,893157.0
3,394463,3,"Chicago, IL",msa,IL,223449.0,222765.0,223663.0,227847.0,229539.0,...,279369.0,282338.0,284798.0,286132.0,288336.0,289500.0,293297.0,295136.0,300937.0,300539.0
4,394514,4,"Dallas, TX",msa,TX,259984.0,255129.0,253270.0,253777.0,254104.0,...,351283.0,354352.0,358832.0,362678.0,368419.0,375582.0,389474.0,403402.0,411526.0,409728.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,753909,845,"Ottawa, KS",msa,KS,NaN,NaN,NaN,NaN,NaN,...,167118.0,174455.0,192893.0,172903.0,174866.0,164731.0,184513.0,183812.0,180860.0,187173.0
633,753921,848,"Steamboat Springs, CO",msa,CO,426344.0,450489.0,437616.0,423975.0,407606.0,...,713701.0,726007.0,710385.0,737974.0,723991.0,705685.0,745063.0,800920.0,884307.0,893448.0
634,395004,853,"Prineville, OR",msa,OR,257626.0,256971.0,248865.0,250576.0,245772.0,...,386172.0,424603.0,444758.0,445738.0,417861.0,452094.0,454803.0,475578.0,432077.0,427841.0
635,394564,882,"Elk City, OK",msa,OK,NaN,NaN,NaN,NaN,NaN,...,144079.0,152468.0,151761.0,162597.0,173502.0,171686.0,169333.0,159932.0,156965.0,155957.0
636,394403,889,"Borger, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128886.0,125751.0,115960.0

In [4]:
path3 = 'sale-median-sale-to-list-ratio.csv'
df = pd.read_csv(path3)
df

,RegionID,SizeRank,RegionName,RegionType,StateName,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,...,2021-10-31,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31
0,102001,0,United States,country,NaN,0.985431,0.988197,0.991022,0.992989,0.993273,...,1.000278,1.000000,1.000000,1.000000,1.000000,1.001675,1.006506,1.011703,1.013021,1.008190
1,394913,1,"New York, NY",msa,NY,0.977104,0.978130,0.979334,0.981380,0.983049,...,1.002231,1.000111,1.000000,1.000000,1.000000,1.000000,1.003089,1.009756,1.017922,1.021039
2,753899,2,"Los Angeles, CA",msa,CA,0.999097,1.000000,1.000000,1.000000,1.000000,...,1.019088,1.017260,1.017901,1.018550,1.024247,1.033581,1.044826,1.047702,1.040743,1.025207
3,394463,3,"Chicago, IL",msa,IL,0.973550,0.976322,0.979387,0.980942,0.981319,...,1.000000,0.998498,0.995924,0.992336,0.993837,0.996411,1.000167,1.002668,1.004431,1.004265
4,394514,4,"Dallas, TX",msa,TX,0.990678,0.994974,0.997697,0.999423,0.997988,...,1.013228,1.008200,1.007092,1.007522,1.013134,1.025167,1.040159,1.048352,1.043824,1.028427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551,394758,838,"La Grande, OR",msa,OR,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.992151
552,753909,845,"Ottawa, KS",msa,KS,NaN,NaN,NaN,NaN,NaN,...,1.001068,1.000000,0.994269,0.985667,0.985667,0.991398,1.000000,1.000000,1.000000,1.000000
553,395004,853,"Prineville, OR",msa,OR,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,0.997000,0.992370,0.992370,0.993309,0.997938,0.997938,1.000000,0.998630
554,394564,882,"Elk City, OK",msa,OK,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.979325,0.986452,0.987740
555,394403,889,"Borger, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.977393,0.989658,0.977560

In [5]:
path4 = 'sale-sold-above-list.csv' # %
df = pd.read_csv(path4)
df

,RegionID,SizeRank,RegionName,RegionType,StateName,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,...,2021-10-31,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31
0,102001,0,United States,country,NaN,0.220553,0.244505,0.266347,0.279534,0.279102,...,0.490505,0.464002,0.447889,0.436772,0.444584,0.478906,0.532556,0.574457,0.581871,0.546012
1,394913,1,"New York, NY",msa,NY,0.190939,0.195029,0.205513,0.225252,0.236322,...,0.520660,0.497419,0.481831,0.466883,0.458706,0.461757,0.498667,0.550235,0.600806,0.617525
2,753899,2,"Los Angeles, CA",msa,CA,0.388930,0.420370,0.440071,0.443430,0.433744,...,0.651666,0.645211,0.645621,0.644098,0.663417,0.699370,0.741204,0.755777,0.734276,0.668047
3,394463,3,"Chicago, IL",msa,IL,0.140049,0.157502,0.176853,0.188135,0.188992,...,0.383226,0.346927,0.324974,0.309047,0.317327,0.362292,0.437947,0.509913,0.545038,0.529530
4,394514,4,"Dallas, TX",msa,TX,0.252622,0.282515,0.304133,0.312254,0.305922,...,0.586937,0.557410,0.549717,0.551083,0.577150,0.629732,0.694849,0.732295,0.721005,0.655302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551,394758,838,"La Grande, OR",msa,OR,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.379357
552,753909,845,"Ottawa, KS",msa,KS,NaN,NaN,NaN,NaN,NaN,...,0.459588,0.379826,0.314014,0.265441,0.230809,0.285993,0.346559,0.446873,0.416529,0.414392
553,395004,853,"Prineville, OR",msa,OR,NaN,NaN,NaN,NaN,NaN,...,0.379894,0.323994,0.232579,0.204503,0.241003,0.258148,0.319558,0.309309,0.333151,0.296114
554,394564,882,"Elk City, OK",msa,OK,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.144943,0.177031,0.146167
555,394403,889,"Borger, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.200397,0.140212,0.117989